@import url(http://fonts.googleapis.com/css?family=Roboto:300);
body,html{margin:0;font-family: 'Roboto', sans-serif;}
/*common icon*/
/*.icon-logo{background: url('../img/logo.png') no-repeat;width:31px;height:31px;}
.icon-config{background:url('../img/gear.png') no-repeat;width:16px;height:16px;}
.icon-h-play{background:url('../img/half-of-play.png') no-repeat;width:30px;height:48px;}
.icon-play{background:url('../img/play.png') no-repeat;width:48px;height:48px;}
.icon-circle-fb{background:url('../img/icon-circle-fb.png') no-repeat;width:30px;height:30px;}
.icon-circle-google{background:url('../img/icon-circle-google.png') no-repeat;width:30px;height:30px;}
.icon-circle-twitter{background:url('../img/icon-circle-twitter.png') no-repeat;width:30px;height:30px;}
.icon-circle-yahoo{background:url('../img/icon-circle-yahoo.png') no-repeat;width:30px;height:30px;}
.icon-cancel{background:url('../img/icon-cancel.png') no-repeat;width:48px;height:48px;}
.icon-db-config {background:url('../img/icon-db-config.png') no-repeat;width:30px;height:30px;}
.icon-profile {background:url('../img/icon-profile.png') no-repeat;width:20px; height:20px;}
.country-flag {background-position:-2px -2px;}
.icon-flag-tw {background:url('../img/icon-flag-tw.png') no-repeat;width:30px; height:30px;}
.icon-flag-us {background:url('../img/icon-flag-us.png') no-repeat;width:30px; height:30px;}
.icon-flag-uk {background:url('../img/icon-flag-uk.png') no-repeat;width:30px; height:30px;}
.icon-flag-jp {background:url('../img/icon-flag-jp.png') no-repeat;width:30px; height:30px;}
.icon-flag-cn {background:url('../img/icon-flag-cn.png') no-repeat;width:30px; height:30px;}
.icon-flag-sp {background:url('../img/icon-flag-sp.png') no-repeat;width:30px; height:30px;}
.icon-flag-tw.small-icon {background:url('../img/icon-flag-tw-s.png') no-repeat;width:20px; height:20px;}
.icon-flag-us.small-icon {background:url('../img/icon-flag-us-s.png') no-repeat;width:20px; height:20px;}
.icon-flag-uk.small-icon {background:url('../img/icon-flag-uk-s.png') no-repeat;width:20px; height:20px;}
.icon-flag-jp.small-icon {background:url('../img/icon-flag-jp-s.png') no-repeat;width:20px; height:20px;}
.icon-flag-cn.small-icon {background:url('../img/icon-flag-cn-s.png') no-repeat;width:20px; height:20px;}
.icon-flag-sp.small-icon {background:url('../img/icon-flag-sp-s.png') no-repeat;width:20px; height:20px;}*/
.icon-logo{background: url('../img/icon.png') no-repeat 0 0;width:20px;height:31px;}
.icon-config{background:url('../img/gear.png') no-repeat;width:16px;height:16px;}
.icon-h-play{background:url('../img/half-of-play.png') no-repeat;width:30px;height:48px;}
.icon-play{background:url('../img/play.png') no-repeat;width:48px;height:48px;}
.icon-circle-fb{background:url('../img/icon.png') no-repeat -2px -299px;width:30px;height:30px;}
.icon-circle-google{background:url('../img/icon.png') no-repeat -2px -269px;width:30px;height:30px;}
.icon-circle-twitter{background:url('../img/icon.png') no-repeat -2px -239px;width:30px;height:30px;}
.icon-circle-yahoo{background:url('../img/icon-circle-yahoo.png') no-repeat;width:30px;height:30px;}
.icon-cancel{background:url('../img/icon-cancel.png') no-repeat;width:48px;height:48px;}
.icon-db-config {background:url('../img/icon-db-config.png') no-repeat;width:30px;height:30px;}
.icon-profile {background:url('../img/icon-profile.png') no-repeat;width:20px; height:20px;}
.country-flag {background-position:-2px -2px;}
.icon-flag-tw {background:url('../img/icon.png') no-repeat -1px -85px;width:30px; height:30px;}
.icon-flag-us {background:url('../img/icon.png') no-repeat -1px -23px;width:30px; height:30px;}
.icon-flag-uk {background:url('../img/icon.png') no-repeat -1px -54px;width:30px; height:30px;}
.icon-flag-jp {background:url('../img/icon.png') no-repeat -1px -147px;width:30px; height:30px;}
.icon-flag-cn {background:url('../img/icon.png') no-repeat -1px -178px;width:30px; height:30px;}
.icon-flag-sp {background:url('../img/icon.png') no-repeat -1px -116px;width:30px; height:30px;}
.icon-flag-tw.small-icon {background:url('../img/icon.png') no-repeat -33px -85px;width:20px; height:20px;}
.icon-flag-us.small-icon {background:url('../img/icon.png') no-repeat -33px -23px;width:20px; height:20px;}
.icon-flag-uk.small-icon {background:url('../img/icon.png') no-repeat -33px -54px;width:20px; height:20px;}
.icon-flag-jp.small-icon {background:url('../img/icon.png') no-repeat -33px -147px;width:20px; height:20px;}
.icon-flag-cn.small-icon {background:url('../img/icon.png') no-repeat -33px -178px;width:20px; height:20px;}
.icon-flag-sp.small-icon {background:url('../img/icon.png') no-repeat -33px -116px;width:20px; height:20px;}

.tri-angle{width: 0px;height: 0px;border-style: solid;border-width: 0 5px 6px 5px;border-color: transparent transparent #000334 transparent;position:absolute;}
/*common*/
.btn{cursor:pointer;border-radius:3px; }
.float-fix:after{clear:both;content:'.';height:0px; visibility: hidden;display:block;}
.unselectable {-moz-user-select: -moz-none;-khtml-user-select: none;-webkit-user-select: none;-ms-user-select: none;user-select: none;}
.top-bar{height:30px;background:#444;position: fixed;width: 100%;top: 0px;z-index:1000}
    .top-bar .icon-logo{background-position: 0 5px;margin:0 auto;}
    .top-bar .member-nav{font-size:12px;float: right;color: #fff;margin:5px 15px;word-spacing: 20px;padding: 2px 5px 2px 5px;border-radius:3px;position:relative;}
    .top-bar .member-nav.login{border-radius:50%;overflow:hidden;width:40px;height:40px;padding:0;border:1px solid #666;margin:8px 18px;}
    .top-bar .member-nav.unlogin:hover{background:#aad450;color:#fff;}
    .top-bar .member-nav.active{background:#aad450 !important;}
    .top-bar .icon-config{float:right;margin:7px 10px 0 0;}
    .top-bar .popup-login{background: #000334;width: 123px;height:40px;position: absolute;top: 25px;right: 0px;margin:0;padding:0;}
    .top-bar .popup-login li{list-style:none;float:left;margin:4px 4px;}
    .top-bar .popup-login li:first-child{margin-left:8px;}
    .top-bar .popup-login li:last-child{margin-right:8px;}
    .top-bar .tri-angle{top:20px;left:20px;}
    .top-bar .exp-nav {width: 40px;height: 4px;border-radius: 5px;position: absolute;right: 25px;top: 53px;border:1px solid #999;overflow:hidden;}
    .top-bar .exp-bar {width:5px;background:#ffd786;height:5px;}
    .top-bar .level {width: 10px;position: absolute;right: 18px;top: 39px;font-size: 12px;}
    .top-bar .profile-img {width:40px;height:40px;border-radius:50%;border:1px solid #999;overflow:hidden;position: absolute;top:7px;right:25px;cursor:pointer;z-index:1}
    .top-bar .icon-db-config {z-index:999;position:absolute;right:70px;}
    


/*footer*/
.footer{background:#e0e0e0;height:40px;text-align:right;font-size:12px;color:#fff;position:fixed;bottom:0px;width:100%;z-index:20;}
.footer .paypal{padding:4px 20px 0 0;position:relative;top:5px;}
.footer .comment-nav {position:absolute;position: absolute;right: 420px;bottom: 80px;display:none;}
.footer .comment {position:absolute; bottom:0px; height:90px;width:390px;border:1px solid #555;border-radius:4px;padding:5px;font-family:Verdana;font-size:15px;resize: none; }
.footer .comment.no-data {color:#ccc;font-size:14px;}    
.footer .btn-send-comment {border-radius:0px;width: 400px;position: absolute;bottom:0px;background: #4c8efa;border-bottom-right-radius: 4px;border-bottom-left-radius: 4px;text-align: center;border: 1px solid #3079ed;left:0px;color: #fff;opacity: 0.5;font-size:12px;}
.footer .btn-send-comment:hover {opacity:1;}


/*content*/
.content{padding-bottom:80px}

    /*index.html*/
    .index .gallery-con{position:relative;margin:40px 0 0 0;}
    .index .gallery{height:459px;text-align:center;transition:background 0.26s ease;-webkit-transition:background 0.26s ease;}
    .index .gallery a{display:block;width:100%;height:100%;}
    .index .gallery-title{position:absolute;right:40px;bottom:2px; color:#fff; font-size:48px;}
    .index .switch-outer{float:left;position:relative;left:50%;}
    .index .gallery-switch{padding:0;margin:8px auto;float:left;position:relative;left:-50%;height:25%;overflow:hidden;}
    .index .gallery-switch li{width:13px;height:13px;border-radius:13px;background:#C3C3C3;float:left;list-style:none;margin:0 0 0 6px;cursor:pointer; }
    .index .gallery-switch li a{display:block}
    .index .gallery-switch li.active{background:#3FA9F5;}
    .index .gallery-switch li.loading{background:#f77515;}
    .index .desc-nav .btn{transition: top,opacity 0.26s ease;-webkit-transition: top,opacity 0.26s ease;color: #fff;width: 100px;height: 30px;position: absolute;text-align: center;line-height: 30px;}
    .index .btn-generate{background: #FF4444;left: 100px;}
    .index .btn-plan{background: #33B5E5;left: 100px;}
    .index .btn-login{background: #99CC00;left: 100px;}
    
    .index .profile{width:650px; margin:35px auto; position: relative;}
    .index .profile .menu{width:105px;box-shadow: 5px 0px 3px -4px rgba(171,171,171,0.6);-webkit-box-shadow: 5px 0px 3px -4px rgba(171,171,171,0.6);-moz-box-shadow: 5px 0px 3px -4px rgba(171,171,171,0.6);position:relative;z-index: 1;}
    .index .profile .menu li{list-style:none;font-size:24px;line-height:45px;height:45px;margin:20px 0 40px 0;text-align:center;cursor:pointer;}
    .index .profile .menu li.active-bar{height:45px;width:3px;background:#99CC00;position: absolute;top:0px;right:0px;transition:top 0.26s ease;-webkit-transition: top 0.26s ease;}
    
    .index .profile .desc-nav{position:relative;box-shadow: 5px 0px 3px -4px rgba(171,171,171,0.6);-webkit-box-shadow: 5px 0px 3px -4px rgba(171,171,171,0.6);-moz-box-shadow: 5px 0px 3px -4px rgba(171,171,171,0.6);width:330px;float:left; padding:0 0 0 35px;height:200px;margin:20px 0 0 0; background:#fff;}
    .index .profile .desc{position:absolute;transition:opacity 0.2s ease;-webkit-transition:opacity 0.2s ease;}
    .index .profile .desc.hide{opacity:0;}
    .index .profile .desc dt{font-size:21px;width:295px;text-align:center;}
    .index .profile .desc dd{font-size:14px;padding:0;margin:0 auto;width:190px;padding:20px 0 0 0;line-height:25px;}
    .index .profile ul,.index .profile dl{float:left;}
    
    .index .profile .icon-play{float:left;margin:140px 0 0 -13px;}
    .index .profile .icon-play:hover{float:left;margin:140px 0 0 -10px;}

    .sm .menu {box-shadow: none !important;padding:0;margin:0;background:#666666;height:100%;}
    .sm .menu li{font-size:18px !important;line-height:normal !important;transition:height 0.26s ease;-webkit-transition:height 0.26s ease;}
    .sm .menu li.active-bar{height:40px !important;left:102px;}
    .sm .active-bar{background:#DB4437 !important;left:0px;}
    .sm .profile{color:#E6E6E6;position: absolute !important;top: 70px;right: 0px;width:360px !important;height:459px;margin: 0 !important;background:#4D4D4D;}
    .sm .desc-nav{ background:none !important;height: 275px !important;padding: 0px !important;box-shadow: none !important;width: 222px!important; margin:20px 0 0 8px !important;}
    .sm .icon-play{display:none;}
    .sm .gallery-con{}
    .sm .gallery-title{right:360px !important;padding:0 20px 0 0;}
    .sm .desc-nav dl{margin:0px;background:#4D4D4D;}
    .sm .desc-nav dt{font-size:18px !important;width:240px !important;text-align:left !important;padding-left:2px !important;}
    .sm .desc-nav dd{margin-left:2px !important;color:#B3B3B3;}
    .sm .desc-nav .btn{left: 2px !important;}
    
    /*browse*/
    .browse{padding:46px 54px 46px 54px;}
    .browse .title{font-size:48px;padding:0 0 46px 0;}
    .browse .photo,.browse .place{width:50%;float:left;}
    .browse .place {position:relative;}
    .browse .place .pl-title{float:left;font-size:48px;padding:0 20px 0 40px;float:left; height:65px;position:relative;background:#fff;color:#000}
    .browse .place .icon-play{float:left;margin:10px 0 0 -12px;z-index:-1;}
    .browse .place .icon-play:hover{margin:10px 0 0 -8px;}
    .browse .photo-item{width:300px; height:150px; float:left; background:#ccc;margin:3px;}
    .browse .btn-pick{background:#4c8efa;width:75px;height:30px;float:left;border:1px solid #3079ed;color:#fff;text-align:center;line-height:30px;position:absolute;top:18px;right:0px;}

/* remove start*/
.schedule-process {background:#eee;height:6px;width:400px;margin-left:40px;position:absolute;top:17px;-webkit-box-shadow: 1px 1px rgba(200, 200, 200, 1) inset;box-shadow: 1px 1px rgba(200, 200, 200, 1) inset;}
.schedule-process .point {width:18px;height:18px;border-radius:50%;background:#eee url('../img/icon.png') no-repeat -38px 2px;position:absolute;top:-19px;-webkit-box-shadow: 0px 1px rgba(200, 200, 200, 1) inset;box-shadow: 0px 1px rgba(200, 200, 200, 1) inset; cursor:pointer;}
.schedule-process .point.active {background:#ffd786 url('../img/icon.png') no-repeat -23px 2px;}
.schedule-process .point:first-child {left:-8px;-webkit-box-shadow: 1px 1px rgba(200, 200, 200, 1) inset;box-shadow: 1px 1px rgba(200, 200, 200, 1) inset;}
.schedule-process .point:last-child {left:99%;-webkit-box-shadow:none;}
.schedule-process .point dt {position:absolute;top:-34px;margin-left:-50%;font-size:13px;color:#000;white-space:nowrap;}
.schedule-process .point dd {display:none;width: 200px;position: absolute;bottom: 50px;color: #fff;background: rgba(171,171,171,1);padding: 15px;line-height: 20px;letter-spacing: 2px;font-size: 15px;text-align: left;left:-50px;border:1px solid #999;}
.top-bar .icon-cancel {position:absolute;left:0px;margin:-4px -4px; opacity:0.6}
    /*tecdoor.html*/
    .tecdoor .door {width:390px;margin:0 auto;margin-top:50px;position:relative}
    .tecdoor .door.login {width:390px;}
    .tecdoor .door.unlogin {width:170px;}
    .tecdoor .door .login {float:left;margin:0 0 0 20px;}
    .tecdoor .triangle {}
    .tecdoor .article {position:relative;line-height:26px;width:400px;margin:0 auto;padding:20px;background-color:#f3f2eb;border:1px solid #e6e4d1;color:#6b6955;margin-bottom:50px;}
        .tecdoor .article-txt {white-space: pre-wrap;display: block; unicode-bidi: embed;}
    .tecdoor .article.unlogin{margin-top:20px;}
    .tecdoor .article.login{margin-top:65px;}
    .tecdoor .door img{}
    .tecdoor .lang {position: absolute;width: 260px;height: 30px;z-index: 0;top: -18px;}
        .lang .btn {display:none;float:left;}
        .lang .btn.active {display:block;float:left;margin-right:10px;}
        .lang .btn.unactive {margin:11px 0 0 3px;}
    /*top-bar*/
    
    
    .top-bar .mask {
        height:20px;
        width:100%;
        position:absolute;
        top:30px;
        background: -moz-linear-gradient(top, rgba(255,255,255,1) 0%, rgba(255,255,255,0) 100%); /* FF3.6+ */
        background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,0))); /* Chrome,Safari4+ */
        background: -webkit-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Chrome10+,Safari5.1+ */
        background: -o-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* Opera 11.10+ */
        background: -ms-linear-gradient(top, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* IE10+ */
        background: linear-gradient(to bottom, rgba(255,255,255,1) 0%,rgba(255,255,255,0) 100%); /* W3C */
        filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ffffff', endColorstr='#00ffffff',GradientType=0 ); /* IE6-9 */
    }
    /*footer*/
    .footer .mask {position:absolute;top:-35px;height:35px;width:100%;background: -moz-linear-gradient(top, rgba(255,255,255,0) 0%, rgba(255,255,255,1) 27%, rgba(255,255,255,1) 100%); /* FF3.6+ */
    background: -webkit-gradient(linear, left top, left bottom, color-stop(0%,rgba(255,255,255,0)), color-stop(27%,rgba(255,255,255,1)), color-stop(100%,rgba(255,255,255,1))); /* Chrome,Safari4+ */
    background: -webkit-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 27%,rgba(255,255,255,1) 100%); /* Chrome10+,Safari5.1+ */
    background: -o-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 27%,rgba(255,255,255,1) 100%); /* Opera 11.10+ */
    background: -ms-linear-gradient(top, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 27%,rgba(255,255,255,1) 100%); /* IE10+ */
    background: linear-gradient(to bottom, rgba(255,255,255,0) 0%,rgba(255,255,255,1) 27%,rgba(255,255,255,1) 100%); /* W3C */
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#00ffffff', endColorstr='#ffffff',GradientType=0 ); /* IE6-9 */}

    .footer .dd {}
/* remove end */